---
// components/Banner.astro
---

<div id="banner" class="hidden bg-pale-yellow justify-center items-center">
    <div class="flex w-full justify-center">
        <p class="text-sm text-center px-4 py-2">
            Goose Insurance is now SmartBunny Insurance in the USA 🇺🇸
        </p>
    </div>
    <div class="lg:pr-8">
        <button id="close-banner" class="text-lg text-gray-400 px-3 py-1 my-1">
            x
        </button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const banner = document.getElementById("banner");
        if (!banner) return;
        const closeButton = document.getElementById("close-banner");

        if (!localStorage.getItem("bannerClosed")) {
            banner.classList.remove("hidden");
            banner.style.display = "flex";
        }

        closeButton?.addEventListener("click", function () {
            banner.style.display = "none";
            localStorage.setItem("bannerClosed", "true");
        });
    });
</script>
